/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container,
.logo,
.add-task{
  margin: 0 auto;
}
.add-task button,
.add-task input,
.list-box,
.list-box li:hover{
  border-radius: 10px;
}

/* CONTAINER */
.container{
  width: 70%;
  padding: 15px;
}

/* LOGO */
.logo{
  width: 40%;
  padding: 10px;
}
.logo img{
  width: 100%;
  height: 100%;
}

/* AddTASK */
.add-task{
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.add-task input{
  width: 75%;
}
.add-task button, .add-task input{
  padding: 8px 15px;
}

/* TASKS LIST */
.list-box{
  background-color: #F5F7F7;
}
.list-box ul{
  list-style: none;
  padding: 15px;
}
.list-box li{
  line-height: 40px;
  border-bottom: 1px solid lightgray;
  padding: 0px 10px;

}
.list-box li i{
  float: right;
  line-height: 40px;
}

/* HOVER EFFECTS */
.list-box li:hover{
  background-color: white;
}
.list-box li i:hover{
  color: red;
  scale: 1.2;
}

/* TASK DONE */
li span.task-done{
  text-decoration: line-through;
}
/* ERROR */
p.error-message{
  color: red;
  text-align: center;
  margin-bottom: 15px;
}